.contact-text {
  height: $box-width;
  width: $box-width;
  @extend .vertical_center;
	@extend .position_left;

  @media screen and (max-width: $break-big) {
    height: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    height: $box-width-middle;
  }
  @media screen and (max-width: $break-small) {
    height: auto;
    width: $box-width-small;
  }
}

.contact-image {
	@extend .position_middle;
}

.contact-image img {
  object-fit: cover;
  height: $box-width;
  @extend .horizontal_center;
  @extend .vertical_center;

  @media screen and (max-width: $break-big) {
    height: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    height: $box-width-middle;
  }
  @media screen and (max-width: $break-small) {
    height: $box-width-small;
  }
}

#contact {
  @media screen and (max-width: $break-small) {
    margin-bottom: 100px;
  }
}

.image-slider {
display: none;
  pointer-events: none;
    transition: 0.2s ease;
    cursor: pointer;
}
.image-active {

  display: block !important;
    z-index: 1000;
    pointer-events: all;
}
