.contact-text {
  height: $width-small;
  width: $width-small;
  margin-left: $width-offset;
  @extend .vertical_center;
}

.contact-image {
  left: 50%;
}

.contact-image img {
  object-fit: cover;
  height: $width-small;
  @extend .horizontal_center;
  @extend .vertical_center;
}
