.header {
  position: fixed;
}

.container {
	height: 100vh;
}

.welcome {
	background: yellow;
}

.projects {
	background: red;
}

.team {
	background: pink;
}

.contact {
	background: orange;
}

.projects-text-left,
.projects-text-right,
.projects-headlines,
.team-image,
.team-contact,
.team-text,
.team-headlines {
	position: absolute;
}

.projects-text-left{
	left: 50%;
	width: 25%;
}

.projects-text-right{
	left: 75%;
	width: 25%;
}

.projects-effect-box{
	visibility: hidden;
}

.visible {
	visibility: visible;
}
