* {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

.header {
  position: fixed;
}

.header img {
  display: none;
}

.container {
	height: 100vh;
}

.welcome {
	background: yellow;
}

.projects {
	background: red;
}

.team {
	background: pink;
}

.contact {
	background: orange;
}

.projects-text,
.projects-headlines,
.team-image,
.team-contact,
.team-text,
.team-headlines {
	position: absolute;
}

.projects-text{
	left: 50%;
	width: 50%;
}

.team-image {
  left: 25%;
}

.image-small {
  width: 25%;
}

.image-big {
  width: 50%;
}


.team-text {
  left: 75%;
	width: 25%;
}

.projects-effect-box,
.team-effect-box {
	visibility: hidden;
}

.visible {
	visibility: visible;
}
