.header {
  position: fixed;
}

.header img {
  display: none;
}

.header-title {
  position: fixed;
  bottom: 30px;
  left: 30px;
  font-size: 30px;
}

.header-navigation {
  position: fixed;
  bottom: 30px;
  left: 50vw;
}

.header-language {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
