.header {
  position: fixed;
  z-index: 100;
}

.header img {
  display: none;
}

.header-title {
  position: fixed;
  bottom: 30px;
  left: 30px;
  font-size: 30px;
  cursor: pointer;
  @extend .noselect ;
}

.header-navigation {
  position: fixed;
  bottom: 30px;
  left: 50vw;
}

.header-navigation-inside {
    float: left;
    margin-left: 10px;
    cursor: pointer;
    @extend .noselect ;
}

.header-navigation-inside:hover {
  border-bottom: 1px solid black;
  height: 22px;
}

.header-language {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.menu-item {
  float: left;
  margin-left: 10px;
}

.it #menu-item-164 a {
    color: $grey;
}

.en #menu-item-163 a {
    color: $grey;
}
