.news-post-list {
  @extend .list ;
  font-size: 20px;
}

.news-list {

	height: $box-width;
	@extend .vertical_center;
	@extend .horizontal_center;
  @extend .position_left ;

  @media screen and (max-width: $break-big) {
    height: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    height: $box-width-middle;
  }
  @media screen and (max-width: $break-small) {
    height: auto;
  }
}

.news-text{
	height: $box-width;
	@extend .vertical_center;
	@extend .horizontal_center;
  @extend .position_middle ;

  @media screen and (max-width: $break-big) {
    height: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    height: $box-width-middle;
  }
  @media screen and (max-width: $break-small) {
    height: auto;
  }
}

.news-list a:hover {
  border: none !important;
}

.header-title a:hover {
  border: none;
}


.error404 {
  overflow: auto;
}
