.news-post-list {
  @extend .list ;
  font-size: 20px;
}


.news-inside {
	@extend .inside;
}


.news-list {

float: left;

  	@extend .position_left;

  @media screen and (max-width: $break-big) {

  }
  @media screen and (max-width: $break-middle) {

  }
  @media screen and (max-width: $break-small) {

  }
}

.news-text{

float: left;
	@extend .horizontal_center;
  @extend .position_middle ;

  @media screen and (max-width: $break-big) {

  }
  @media screen and (max-width: $break-middle) {

  }
  @media screen and (max-width: $break-small) {
    margin-left: 10px;
  }
}

.news-list a:hover {
  border: none !important;
}

.header-title a:hover {
  border: none;
}

.news-title {
    margin-bottom: 20px;
}

.news-archive-link.mobile {
    margin-top: 40px;
}
