.projects-box p {
  line-height: 1.5;
}

.projects-headlines {
	height: 50vh;
	@extend .vertical_center;
	@extend .horizontal_center;
}

.projects-text{
	left: 50%;
	height: 50vh;
	@extend .vertical_center;
	@extend .horizontal_center;
}
