.projects-box p {
  @extend .list ;
}

.projects-headlines {
	height: $box-width;
	@extend .vertical_center;
	@extend .horizontal_center;
  @extend .position_left ;

  @media screen and (max-width: $break-big) {
    height: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    height: $box-width-middle;
  }
  @media screen and (max-width: $break-small) {
    height: $box-width-small;
  }
}

.projects-text{
	height: $box-width;
	@extend .vertical_center;
	@extend .horizontal_center;
  @extend .position_middle ;

  @media screen and (max-width: $break-big) {
    height: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    height: $box-width-middle;
  }
  @media screen and (max-width: $break-small) {
    height: $box-width-small;
  }
}
