.team-headlines {
	height: $width-small;
	@extend .vertical_center;
	@extend .position_left;
}

.team-text {
  left: 65%;
	width: 10vw;
  @extend .vertical_center ;
  height: $width-small;
}

.team-box p {
  @extend .list ;
}

.team-image {
  left: 37.5vw;
  @extend .vertical_center ;
  height: $width-small;
}

.image-small img {
  width: 10vw;
  height: 10vw;
  margin-left: 15vw;
}

.image-big img {
  @extend .horizontal_center;
  height: $width-small;
}
