.team-headlines {
	height: 50vh;
	@extend .vertical_center;
	@extend .horizontal_center;
}

.team-text {
  left: 75%;
	width: 20%;
  @extend .vertical_center ;
  height: 50vh;
}

.team-box p {
  @extend .list ;
}

.team-image {
  left: 25%;
  @extend .vertical_center ;
  height: 50vh;
}

.image-small img {
  width: 25vw;
  height: 25vw;
  left: 50%;
  margin-left: $width-offset;
}

.image-big img {
  @extend .horizontal_center;
  height: $width-small;
}
