$box-width: 30vw;
$grey: #999;

$break-big: 1600px;
$break-middle: 800px;
$break-small: 500px;

$box-width-big: 38vw;
$box-width-middle: 40vw;
$box-width-small: 40vw;

.position_left {
  left: 15vw;
  @media screen and (max-width: $break-big) {
    left: 7.5vw;
  }
  @media screen and (max-width: $break-middle) {
    left: 5vw;
  }
  @media screen and (max-width: $break-small) {
    left: 5vw;
  }
}

.position_middle {
  left: 50vw;
  @media screen and (max-width: $break-big) {
    left: 52.5vw;
  }
  @media screen and (max-width: $break-middle) {
    left: 50vw;
  }
  @media screen and (max-width: $break-small) {
    left: 50vw;
  }
}

.vertical_center {
  position: absolute;
  margin-top: 50vh;
  transform: translateY(-52%);
}

.horizontal_center {
  width: $box-width;
  @media screen and (max-width: $break-big) {
    width: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    width: $box-width-big;
  }
  @media screen and (max-width: $break-small) {
    width: $box-width-big;
  }
}

.list {
  line-height: 1.5;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
