$width-small: 25vw;
$grey: #999;

.position_left {
  left: 22.5vw;
}

.position_middle {
  left: 50vw;
}

.vertical_center {
  position: absolute;
  margin-top: 50vh;
  transform: translateY(-52%);
}

.horizontal_center {
  width: $width-small;
}

.list {
  line-height: 1.5;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
