$width-small: 40vw;
$width-offset: 5vw;

.vertical_center {
  position: absolute;
  margin-top: 50vh;
  transform: translateY(-54%);
}

.horizontal_center {
  width: $width-small;
  margin-left: $width-offset;
}
