.welcome-image img {
  object-fit: cover;
  height: $box-width;
  @extend .horizontal_center;
  @extend .vertical_center;
  @extend .position_left;

  @media screen and (max-width: $break-big) {
    height: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    height: $box-width-middle;
  }
  @media screen and (max-width: $break-small) {
    height: $box-width-small;
    margin-top: 15vh;
    margin-bottom: 2vh;
  }
}

.image-active {
  @extend .position_middle;
  @media screen and (max-width: $break-small) {
    margin-top: 5vh !important;
    margin-bottom: 200px;
  }
}

.welcome-text {
  @extend .position_left;
  width: $box-width;
  @extend .vertical_center;

  @media screen and (max-width: $break-big) {
    width: $box-width-big;
  }
  @media screen and (max-width: $break-middle) {
    width: $box-width-middle;
  }
  @media screen and (max-width: $break-small) {
    width: $box-width-small;
    height: auto;
    margin-top: 25vh;
  }
}

#welcome {
  height: 100vh !important;
  margin-bottom: 0px;
}
