.welcome-image img {
  object-fit: cover;
  height: $width-small;
  @extend .horizontal_center;
  @extend .vertical_center;
  @extend .position_left;
}

.image-active {
  @extend .position_middle;
}

.welcome-text {
  width: $width-small;
  @extend .vertical_center;
}
